# crystal
main.cr
docs
output
config
bin
logs
spec
.shards
repositories
examples
Makefile
README.md
LICENSE

# git
.git
.gitignore

# editor
.history
.editorconfig

# docker
docker-compose.yml
Dockerfile
.env*
.dockerignore

# CI
.cricalci
.travis.yml

# macOS
.DS_Store
