# ruby
bin
logs
spec
repositories
config/hpr.yml
config/.*.key
Guardfile
.rspec
.rubocop.yml

# git
.git
.gitignore

# editor
.history
.editorconfig
.vscode

# docker
docker-compose*.yml
Dockerfile*
.dockerignore

# CI
.cricalci
.travis.yml

# macOS
.DS_Store
