# crystal
doc
output
bin
repositories
Makefile
README.md
LICENSE

# git
.git
.gitignore

# editor
.history
.editorconfig

# docker
Dockerfile
.env*
.dockerignore

# CI
.cricalci
.travis.yml

# macOS
.DS_Store
